@media screen and (max-width: 375px){

  body{
    margin: 0;
  }
  
  main{
    width: 80%;
    flex-direction: column;
    margin: auto;
    top: 20%;
    margin-top: 500px;
    margin-bottom: 500px;
  }

  .sedans{
    border-radius: 10px 10px 0 0;
  }

  .luxury{
    border-radius: 0 0 10px 10px;
  }

  .attribution{
    position: relative;
  }

}
